<section class="card border border-tertiary-subtle rounded-3">
  <div class="card-body ">
    <h5 class="card-title">{{name}} 
        <font size="-1">type: <strong>{{type}}</strong> </font>
        <font size="-1">muscle: <strong>{{muscle}}</strong> </font>
    </h5>

    {{!-- <p class="card-text">This is the Card for myroutine partial-handlebars</p> --}}
  </div>

</section>