<section class="card border border-tertiary-subtle rounded-3">
  <div class="card-body ">
    <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{id}}</p>
    <p class="card-text">This is the Card for routine partial-handlebars</p>
  </div>
   {{! button }}
              <a href="#" class="btn btn-dark add-routine">Delete routine</a>
</section>