<div class="d-flex flex-row justify-content-around mt-5">
  <div class="d-flex col-4 bg-dark bg-gradient" style="height:100px">
    <a href="./make-routine" class="mx-auto text-center align-self-center">
      <button class="btn btn-secondary active">Create a New Workout</button>
    </a>
  </div>
  <div class="d-flex col-4 bg-dark bg-gradient" style="height:100px">
    <a href="./routine" class="mx-auto text-center align-self-center">
      <button class="btn btn-secondary active">See Previous Workouts</button>
    </a>
  </div>
</div>

{{! adds calender link }}
<div class="m-5" id="calendar"></div>

<script src="/js/calendar.js"></script>