<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h1 class="text-start">Login</h1>
    </div>
    <div class="col-6">
      <h1>Sign Up</h1>
    </div>
  </div>
</div>

<div class="row">
  {{! login form }}
  <form class="col-6" id="login-form">

    <div class="mb-3">
      <label for="email-login" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email-login"
        placeholder="example@gmail.com"
      />
    </div>

    <div class="mb-3">
      <label for="password-login" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-login"
        placeholder="password"
      />
    </div>
    <button type="submit" class="btn btn-primary" id="login-form">Login</button>
  </form>
  {{! signup form }}
  <form class="col-6" id="signUp-submit">
    <div class="mb-3">
      <label for="nameExampleInput" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="name"
        id="name-submit"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        id="email-submit"
      />
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-submit" />
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>

<script src="/js/login.js"></script>