<h1>Make Routines</h1>
<p>exercise cards render here: </p>
{{#each exercises as |exercise|}}
  {{> exercise-details}}
{{/each}}


<div class="search-section d-flex">
<input
  class="form-control"
  type="text"
  value="Search by name"
  aria-label="search by name"
  Search
/>

<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Muscle Group
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">abdominal</a></li>
    <li><a class="dropdown-item" href="#">abductors</a></li>
    <li><a class="dropdown-item" href="#">adductors</a></li>
    <li><a class="dropdown-item" href="#">biceps</a></li>
    <li><a class="dropdown-item" href="#">calves</a></li>
    <li><a class="dropdown-item" href="#">chest</a></li>
    <li><a class="dropdown-item" href="#">forearms</a></li>
    <li><a class="dropdown-item" href="#">glutes</a></li>
    <li><a class="dropdown-item" href="#">hamstrings</a></li>
    <li><a class="dropdown-item" href="#">lats</a></li>
    <li><a class="dropdown-item" href="#">lower back</a></li>
    <li><a class="dropdown-item" href="#">middle back</a></li>
    <li><a class="dropdown-item" href="#">neck</a></li>
    <li><a class="dropdown-item" href="#">quadriceps</a></li>
    <li><a class="dropdown-item" href="#">traps</a></li>
    <li><a class="dropdown-item" href="#">triceps</a></li>
  </ul>
</div>
</div>  

<div class="routine-list">
<h1>My Routine</h1>
   {{#each exerciseData as |exercise|}}
    {{> added-exercise}}
    {{/each}}
</div>