<div class="d-flex">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 searching">
            <div class="search-section d-flex">
            <input
            class="form-control"
            type="text"
            placeholder="search by name"
            aria-label="search by name"
            Search
            />
            <button type="button" class="btn btn-light">Search</button>

            <div class="dropdown">
            <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
            >
                Muscle Group
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">abdominal</a></li>
                <li><a class="dropdown-item" href="#">abductors</a></li>
                <li><a class="dropdown-item" href="#">adductors</a></li>
                <li><a class="dropdown-item" href="#">biceps</a></li>
                <li><a class="dropdown-item" href="#">calves</a></li>
                <li><a class="dropdown-item" href="#">chest</a></li>
                <li><a class="dropdown-item" href="#">forearms</a></li>
                <li><a class="dropdown-item" href="#">glutes</a></li>
                <li><a class="dropdown-item" href="#">hamstrings</a></li>
                <li><a class="dropdown-item" href="#">lats</a></li>
                <li><a class="dropdown-item" href="#">lower back</a></li>
                <li><a class="dropdown-item" href="#">middle back</a></li>
                <li><a class="dropdown-item" href="#">neck</a></li>
                <li><a class="dropdown-item" href="#">quadriceps</a></li>
                <li><a class="dropdown-item" href="#">traps</a></li>
                <li><a class="dropdown-item" href="#">triceps</a></li>
            </ul>
            </div>
            </div>  
            <div class="search-cards d-flex flex-wrap justify-content-center">
            {{#each exercises as |exercise|}}
            {{> exercise-details}}
            {{/each}}
            </div>
            </div>
            <div class="col-xl-3 routine-list d-flex flex-wrap justify-content-center">
            <h1 style="height: 100px">My Routine</h1>
            <input
            class="form-control"
            type="text"
            placeholder="Name Your Routine"
            aria-label="Name Your Routine"
            Name Your Routine
            />
            <div class="card-list d-flex flex-wrap justify-content-center flex-column">
            {{#each exercises as |exercise|}}
                {{> added-exercise}}
                {{/each}}
                </div>
            <input
            class="form-control"
            type="text"
            placeholder="Enter the date for your routine MM/DD/YY"
            aria-label="routine date"
            routine date
            />  
            <button type="button" class="btn btn-light">ADD ROUTINE</button>
            </div>
        </div>
    </div>
</div>
