<div class="d-flex">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4">
        <h1 class="text-center mt-5">{{{routine.name}}}</h1>
        <div class="container" id="routine-list"></div>
        <h4 class="text-dark ">Rename your new routine:</h4>
        <input
          class="form-control my-2"
          id="name-input"
          type="text"
          placeholder="New Routine Name"
          aria-label="Name Your Routine"
        />
        <h2 id="new-name"></h2>
         <button type="button" class="btn btn-dark text-light bg-gradient" id="update-name-button">UPDATE
          NAME</button>

<h4 class="text-dark ">Choose a day of the week for this routine:</h4>
       <div class="m-2 dropdown">
            <select
              id="dropdown-day-input"
              class="form-select"
              aria-label="Select day of week"
            >
              <option value="sunday">Sunday</option>
              <option value="monday">Monday</option>
              <option value="tuesday">Tuesday</option>
              <option value="wednesday">Wednesday</option>
              <option value="thursday">Thursday</option>
              <option value="friday">Friday</option>
              <option value="saturday">Saturday</option>
            
            </select>
          
          </div>
                 <button type="button" class="btn btn-dark text-light bg-gradient p-10" id="update-day-button">Choose Day
        </button>
       
       <br>
        <button type="button" class="btn btn-light add-routine-button">ADD
          ROUTINE</button>
      </div>

      <div class="col-xl-8 searching">
        <div class="search-section d-flex m-5">
          <input
            id="search-input"
            class="form-control m-2"
            type="text"
            placeholder="search by name"
            aria-label="search by name"
          />
          <button
            id="search-button"
            type="button"
            class="m-2 btn btn-light"
          >Search</button>

          <div class="m-2 dropdown">
            <select
              id="dropdown-input"
              class="form-select"
              aria-label="Default select example"
            >
              <option value="abdominals">abdominals</option>
              <option value="abductors">abductors</option>
              <option value="adductors">adductors</option>
              <option value="biceps">biceps</option>
              <option value="calves">calves</option>
              <option value="chest">chest</option>
              <option value="forearms">forearms</option>
              <option value="glutes">glutes</option>
              <option value="hamstrings">hamstrings</option>
              <option value="lats">lats</option>
              <option value="lower_back">lower back</option>
              <option value="middle_back">middle back</option>
              <option value="neck">neck</option>
              <option value="quadriceps">quadriceps</option>
              <option value="traps">traps</option>
              <option value="triceps">triceps</option>
            </select>
          </div>
        </div>
        <div
          id="exercises-container"
          class="search-cards d-flex flex-wrap justify-content-center"
        >
        {{#each exercises as |exercise|}}
        {{> exercise-details}}
        {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
