<div class="d-flex">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4">
        <h1 class="text-center mt-5">My Routine</h1>
        <div class="container" id="routine-list"></div>
        <input
          class="form-control my-2"
          id="routine-name"
          type="text"
          placeholder="Name Your Routine"
          aria-label="Name Your Routine"
        />
        <input
          class="form-control my-2"
          id="routine-date"
          type="text"
          placeholder="Enter the date for your routine MM/DD/YY"
          aria-label="routine date"
        />
        <input
          class="form-control my-2"
          id="start-time"
          type="text"
          placeholder="Enter workout start time"
          aria-label="routine date"
        />
        <input
          class="form-control my-2"
          id="end-time"
          type="text"
          placeholder="Enter workout end time"
          aria-label="routine date"
        />
        <button type="button" class="btn btn-light add-routine-button" id="add-routine">ADD
          ROUTINE</button>
      </div>

      <div class="col-xl-8 searching">
        <div class="search-section d-flex m-5">
          <input
            id="search-input"
            class="form-control m-2"
            type="text"
            placeholder="search by name"
            aria-label="search by name"
          />
          <button
            id="search-button"
            type="button"
            class="m-2 btn btn-light"
          >Search</button>

          <div class="m-2 dropdown">
            <select
              id="dropdown-input"
              class="form-select"
              aria-label="Default select example"
            >
              <option value="abdominals">abdominals</option>
              <option value="abductors">abductors</option>
              <option value="adductors">adductors</option>
              <option value="biceps">biceps</option>
              <option value="calves">calves</option>
              <option value="chest">chest</option>
              <option value="forearms">forearms</option>
              <option value="glutes">glutes</option>
              <option value="hamstrings">hamstrings</option>
              <option value="lats">lats</option>
              <option value="lower_back">lower back</option>
              <option value="middle_back">middle back</option>
              <option value="neck">neck</option>
              <option value="quadriceps">quadriceps</option>
              <option value="traps">traps</option>
              <option value="triceps">triceps</option>
            </select>
          </div>
        </div>
        <div
          id="exercises-container"
          class="search-cards d-flex flex-wrap justify-content-center"
        >
        {{#each exercises as |exercise|}}
        {{> exercise-details}}
        {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>