<h1>Make Routines</h1>
<p>exercise cards render here: </p>
<div class="row flex-row justify-space-between align-center">
{{#each exercises as |exercise|}}
  {{> exercise-details}}
{{/each}}
</div>
  
