
<section class="container bg-dark border border-tertiary-subtle rounded-3"> {{!-- need CSS class --}}
  <div class="text-light"><h1>My Routines</h1></div>
<br>
<section class="flex-row justify-center"> {{!-- need CSS class --}}

{{#each routines as |routine|}}
    <h3 class="text-light">{{id}}. {{name}}</h3>

    {{#each routine.exercises as | exercise|}}
        {{> myroutine-details}}
    {{/each}}

     {{! button }}
              <a href="#" class="btn btn-danger">Delete routine</a>
      <hr />    
{{/each}}


  </section>

</section>

